<div class="bg-dark">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Blogify</a>
    </li>

    <% if(locals.user) { %>
    <li class="nav-item">
      <a class="nav-link" href="/blog/add-new">Add Block</a>
    </li>

    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false"
        ><%=user.email %></a
      >
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
      </ul>
    </li>

    <% } else { %>

    <li class="nav-item">
      <a class="nav-link" href="/user/signup">Create Account</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user/signin">Signin</a>
    </li>
    <%}%>

    <li class="nav-item">
      <a class="nav-link" href="/">user</a>
    </li>
  </ul>
</div>

<% if (locals.error) { %>
<div class="container">
  <div class="alert alert-danger mt-5" role="alert"><%= locals.error %></div>
</div>

<% } %>
